<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2008 Anyware Technologies. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: 
  		Lucas Bigeardel (Anyware Technologies) - initial API and implementation
  		Roman Tarasov (IBM) - upgrade codegen feature
-->
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.papyrus.infra.emf.search.codegen.menuContribution"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.papyrus.infra.emf.search.codegen.menu"
               label="%SearchGenMenu.Label"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.papyrus.infra.emf.search.codegen.popup.actions.GenerateSearchAction"
               enablesFor="1"
               id="org.eclipse.papyrus.infra.emf.search.codegen.newAction"
               label="%TextualSeachEngineGenAction.Label"
               menubarPath="org.eclipse.papyrus.infra.emf.search.codegen.menu/group">
         </action>
      </objectContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.emf.codegen.ecore.generatorAdapters">
      <adapterFactory
            class="org.eclipse.papyrus.infra.emf.search.codegen.engine.core.GenModelSearchCOREGeneratorAdapterFactory"
            modelPackage="http://www.eclipse.org/emf/2002/GenModel">
      </adapterFactory>
      <adapterFactory
            class="org.eclipse.papyrus.infra.emf.search.codegen.engine.ui.GenModelSearchUIGeneratorAdapterFactory"
            modelPackage="http://www.eclipse.org/emf/2002/GenModel">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.infra.emf.search.codegen.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="modeling/search"
            class="org.eclipse.papyrus.infra.emf.search.codegen.preferences.ModelSearchPreferencePage"
            id="org.eclipse.papyrus.infra.emf.search.codegen.preferences.ModelSearchPreferencePage"
            name="Model Search Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.papyrus.infra.emf.search.codegen.ecoreKeyword"
            label="ecore">
      </keyword>
      <keyword
            id="org.eclipse.papyrus.infra.emf.search.codegen.emfKeyword"
            label="emf">
      </keyword>
      <keyword
            id="org.eclipse.papyrus.infra.emf.search.codegen.modelKeyword"
            label="model">
      </keyword>
      <keyword
            id="org.eclipse.papyrus.infra.emf.search.codegen.searchKeyword"
            label="search">
      </keyword>
   </extension>
   -->
</plugin>
