<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2008 Anyware Technologies and others. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: 
  		Lucas Bigeardel (Anyware Technologies) - initial API and implementation
  		Lucas Bigeardel- fix page IDs typo
-->
<plugin>
   <extension
         point="org.eclipse.emf.search.ui.modelSearchQueryTab">
      <queryTab
            id="org.eclipse.emf.search.ecorePlainTextSearchID"
            image="icons/textQuery.gif"
            index="0"
            label="%EcorePlainTextSearchExtPoint.Label"
            queryCompositeAreaFactory="org.eclipse.emf.search.ecore.ui.factories.EcoreTextModelSearchQueryAreaFactory"
            targetSearchPageID="org.eclipse.emf.search.ecore.ui.pages.EcoreModelSearchPageID"
            tooltip="%EcorePlainTextSearchExtPoint.Tooltip"/>
   </extension>
   <extension
         point="org.eclipse.emf.search.ui.modelSearchParticipantTab">
      <participantTab
            elementComposeableAdapterFactory="org.eclipse.emf.ecore.provider.EcoreItemProviderAdapterFactory"
            elementModelEditorSelectionHandler="org.eclipse.emf.search.ecore.ui.handlers.EcoreEditorSelectionHandler"
            id="org.eclipse.emf.search.ecore.ui.ecoreParticipantTab"
            image="icons/ecore.gif"
            index="0"
            label="%EcoreParticipantTab.Label"
            participantCompositeAreaFactory="org.eclipse.emf.search.ecore.ui.factories.EcoreModelSearchParticipantAreaFactory"
            targetSearchPageID="org.eclipse.emf.search.ecore.ui.pages.EcoreModelSearchPageID"
            tooltip="%EcoreParticipantTab.Tooltip">
      </participantTab>
   </extension>
  <extension
        point="org.eclipse.emf.search.ui.modelSearchEngineMapping">
     <mapping
           id="org.eclipse.emf.search.text4ecore"
           engineID="org.eclipse.emf.search.ecoreSearchEngine"
           participantsTabID="org.eclipse.emf.search.ecore.ui.ecoreParticipantTab"
           queryTabID="org.eclipse.emf.search.ecorePlainTextSearchID">
     </mapping>
  </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.emf.search.ecore.ui.pages.EcoreModelSearchPage"
            enabled="true"
            icon="icons/esearch.gif"
            id="org.eclipse.emf.search.ecore.ui.pages.EcoreModelSearchPageID"
            label="%EcoreModelSearchPage.Label"
            showScopeSection="true"
            tabPosition="0"/>
   </extension>
  <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts.xml"/> 
   </extension>
   
   <extension
         point="org.eclipse.emf.search.ui.modelSearchPageMenuContribution">
      <!-- Search Menu -->
      <menuContribution
            id="org.eclipse.emf.search.ecore.ui.menu.SearchMenuContribution"
			label="%ModelSearchPageMenuContribution.EcoreSearch.Menu.Label"
			order="0"
			targetMetaModelID="http://www.eclipse.org/emf/2002/Ecore"
			image="icons/esearch.gif">
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.emf.search.ui.modelSearchPageActionContribution">
      <!-- Search Actions -->
      <actionContribution
            action="org.eclipse.emf.search.ecore.ui.actions.SearchReferencesAction"
            id="org.eclipse.emf.search.ecore.ui.actions.SearchReferencesActionContribution"
			targetMetaModelID="http://www.eclipse.org/emf/2002/Ecore"
			targetMenuID="org.eclipse.emf.search.ecore.ui.menu.SearchMenuContribution">
      </actionContribution>
   </extension>


   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Modeling Editors"
            description="Modeling Editors Commands"
            id="org.eclipse.modeling.editors">
      </category>
      <command
            categoryId="org.eclipse.modeling.editors"
            defaultHandler="org.eclipse.emf.search.ecore.common.ui.handlers.OpenFilteredEPackageMetaElementSelectionDialogHandler"
            description="%OpenFilteredEPackageMetaElementsDialog.Description"
            id="org.eclipse.emf.search.ecore.common.ui.OpenFilteredEPackageMetaElementsSelectionDialogCommand"
            name="%OpenFilteredEPackageMetaElementsDialog.Name">
      </command>
      <command
            categoryId="org.eclipse.modeling.editors"
            defaultHandler="org.eclipse.emf.search.ecore.common.ui.handlers.OpenFilteredEclassifierMetaElementSelectionDialogHandler"
            description="%OpenFilteredEClassMetaElementsDialog.Description"
            id="org.eclipse.emf.search.ecore.common.ui.OpenFilteredEclassifierMetaElementsSelectionDialogCommand"
            name="%OpenFilteredEClassMetaElementsDialog.Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.search.ecore.common.ui.OpenFilteredEPackageMetaElementsSelectionDialogCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
       <key
            commandId="org.eclipse.emf.search.ecore.common.ui.OpenFilteredEclassifierMetaElementsSelectionDialogCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementsReferencesSearchPopupMenuContribution"
            objectClass="org.eclipse.emf.ecore.EPackage">
         <menu
               id="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementsReferencesSearchPopupMenu"
               label="%ModelSearchEcoreMetaElementReferenceSearchAction.Menu.Label"
               path="additions">
            <separator
                  name="eObjectGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.search.ecore.common.ui.popup.actions.ModelSearchEcoreMetaElementReferenceSearchAction"
               enablesFor="1"
               icon="icons/esearch.gif"
               id="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementReferencesSearchAction"
               label="%ModelSearchEcoreMetaElementReferenceSearchAction.Label"
               menubarPath="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchEcoreMetaElementReferenceSearchAction.Tooltip">
         </action>
         <!--
         <action
               class="org.eclipse.emf.search.ecore.common.ui.popup.actions.ModelSearchEcoreInEObjectScopeAction"
               enablesFor="1"
               icon="icons/esearch.gif"
               id="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementEObjectScopeSearchAction"
               label="%ModelSearchEcoreInEObjectScopeAction.Label"
               menubarPath="org.eclipse.emf.search.ecore.common.ui.ecoreMetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchEcoreInEObjectScopeAction.Tooltip">
         </action>
         -->
      </objectContribution>
   </extension>
</plugin>
