<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2008 Anyware Technologies. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: Lucas Bigeardel (Anyware Technologies) - initial API and
  implementation
-->
<plugin>
   <!--
   UML2 Diagram Search Popup Contributions
   -->
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.papyrus.uml2.diagram.clazz.search.providers.UML2DiagramSearchContributionItemProvider">
         <Priority
               name="Medium">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.uml2.diagram.clazz.edit.parts.ClassEditPart"/>
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.uml2.diagram.clazz.edit.parts.Class2EditPart"/>
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.uml2.diagram.clazz.edit.parts.Class3EditPart"/>            
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.uml2.diagram.clazz.edit.parts.Class4EditPart"/>
            <popupMenuGroup
                  id="UML2Search"
                  path="/"
                  separator="true">
            </popupMenuGroup>
            <popupAction path="/UML2Search" id="uml2AggregationReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2AssociationReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2CompositionReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2GeneralizationReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2AbstractionReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2DependencyReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2UsageReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2RealizationReferencesSearchAction"/>
            <popupAction path="/UML2Search" id="uml2SubstitutionReferencesSearchAction"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <!--
   UML2 Diagram Search Open Participant Ext Point Integration 
   -->
   <extension
         point="org.eclipse.papyrus.infra.emf.search.ui.openDiagramParticipants">
      <diagramParticipant
      		id="http://www.eclipse.org/uml2/2.1.0/UML"
            openDiagramHandler="org.eclipse.papyrus.uml2.diagram.clazz.search.handlers.OpenUML2ClassDiagramHandler">
      </diagramParticipant>
      <diagramParticipant
            id="http://www.eclipse.org/uml2/5.0.0/UML"
            openDiagramHandler="org.eclipse.papyrus.uml2.diagram.clazz.search.handlers.OpenUML2ClassDiagramHandler">
      </diagramParticipant>
   </extension>
</plugin>
