<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2008 Anyware Technologies and others. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: 
  		Lucas Bigeardel (Anyware Technologies) - initial API and implementation
  		Lucas Bigeardel Added GOF Pattern Query Tab support 
-->
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.modeling.editors"
            defaultHandler="org.eclipse.uml2.search.common.ui.handlers.OpenFilteredUMLPackageMetaElementSelectionDialogHandler"
            description="%OpenFilteredUMLPackageMetaElementsDialog.Description"
            id="org.eclipse.uml2.search.common.ui.OpenFilteredUMLPackageMetaElementsSelectionDialogCommand"
            name="%OpenFilteredUMLPackageMetaElementsDialog.Name">
      </command>
      <command
            categoryId="org.eclipse.modeling.editors"
            defaultHandler="org.eclipse.uml2.search.common.ui.handlers.OpenFilteredUMLClassMetaElementSelectionDialogHandler"
            description="%OpenFilteredUMLClassMetaElementsDialog.Description"
            id="org.eclipse.uml2.search.common.ui.handlers.OpenFilteredUMLClassMetaElementSelectionDialogHandler"
            name="%OpenFilteredUMLClassMetaElementsDialog.Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.uml2.search.common.ui.OpenFilteredUMLPackageMetaElementsSelectionDialogCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
       <key
            commandId="org.eclipse.uml2.search.common.ui.handlers.OpenFilteredUMLClassMetaElementSelectionDialogHandler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+Z">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenuContribution"
            objectClass="org.eclipse.uml2.uml.Classifier">
         <menu
               id="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu"
               label="%ModelSearchUML2MetaElementReferenceSearchAction.Menu.Label"
               path="additions">
            <separator
                  name="uml2ObjectGroup">
            </separator>
         </menu>
          org.eclipse.uml2.search.common.ui.uml2MetaElementsPatternsSearchPopupMenu
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2AbstractionReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2AbstractionsReferencesSearchAction"
               label="%ModelSearchUML2AbstractionsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2AbstractionsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2AggregationReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2AggregationsReferencesSearchAction"
               label="%ModelSearchUML2AggregationsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2AggregationsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2AssociationReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2AssociationsReferencesSearchAction"
               label="%ModelSearchUML2AssociationsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2AssociationsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2CompositionReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2CompositionsReferencesSearchAction"
               label="%ModelSearchUML2CompositionsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2CompositionsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2GeneralizationReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2GeneralizationsReferencesSearchAction"
               label="%ModelSearchUML2GeneralizationsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2GeneralizationsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2DependencyReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2DependenciesReferencesSearchAction"
               label="%ModelSearchUML2DependenciesReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2DependenciesReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2UsageReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2UsagesReferencesSearchAction"
               label="%ModelSearchUML2UsagesReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2UsagesReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2RealizationReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2RealizationsReferencesSearchAction"
               label="%ModelSearchUML2RealizationsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2RealizationsReferenceSearchAction.Tooltip">
         </action>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.references.UML2SubstitutionReferencesToUML2ClassAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2SubstitutionsReferencesSearchAction"
               label="%ModelSearchUML2SubstitutionsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsReferencesSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2SubstitutionsReferenceSearchAction.Tooltip">
         </action>
      </objectContribution>
      </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="true"
            id="org.eclipse.uml2.search.common.ui.uml2MetaElementsPatternsSearchPopupMenuContribution"
            objectClass="org.eclipse.uml2.uml.Package">
        <menu
               id="org.eclipse.uml2.search.common.ui.uml2MetaElementsPatternsSearchPopupMenu"
               label="%ModelSearchUML2MetaElementCompositePatternSearchAction.Menu.Label"
               path="additions">
            <separator
                  name="uml2PatternGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.uml2.search.common.ui.actions.patterns.UML2CompositePatternReferencesToUML2PackageAction"
               enablesFor="1"
               icon="icons/usearch.gif"
               id="org.eclipse.uml2.search.common.ui.uml2CompositePatternReferencesSearchAction"
               label="%ModelSearchUML2CompositePatternsReferenceSearchAction.Label"
               menubarPath="org.eclipse.uml2.search.common.ui.uml2MetaElementsPatternsSearchPopupMenu/eObjectGroup"
               tooltip="%ModelSearchUML2CompositePatternsReferenceSearchAction.Tooltip">
         </action>
      </objectContribution>
      </extension>
      
      <!--
      	UML2 GOF Patterns Query Tab
      -->
        <extension
         point="org.eclipse.emf.search.ui.modelSearchQueryTab">
      <queryTab
            id="org.eclipse.uml2.search.common.ui.gofPatternSearchQueryTabID"
            image="icons/usearch.gif"
            index="0"
            label="%UML2GOFPatternModelSearchExtPoint.Label"
            queryCompositeAreaFactory="org.eclipse.uml2.search.common.ui.actions.patterns.areas.UML2GOFPatternsModelSearchCompositeAreaFactory"
            targetSearchPageID="org.eclipse.uml2.search.ui.pages.UML2ModelSearchPageID"
            tooltip="%UML2GOFPatternModelSearchExtPoint.Tooltip"/>
   </extension>
      <extension
         point="org.eclipse.emf.search.modelSearchEngine">
      <modelSearchEngine
            id="org.eclipse.uml2.search.uml2GOFPatternsSearchEngine"
            label="%UML2ModelSearchEngine.Label"
            modelResourceValidator="org.eclipse.uml2.search.engine.UML2ModelResourceValidator"
            queryParametersFactory="org.eclipse.uml2.search.common.ui.factories.UML2GOFPatternsModelSearchQueryParametersFactory"
            searchQueryFactory="org.eclipse.uml2.search.common.ui.factories.UML2GOFPatternsModelSearchQueryFactory"/>
   </extension>
   
     <extension
        point="org.eclipse.emf.search.ui.modelSearchEngineMapping">
     <mapping
           id="org.eclipse.uml2.search.gofPatterns4uml2"
           engineID="org.eclipse.uml2.search.uml2GOFPatternsSearchEngine"
           participantsTabID="org.eclipse.uml2.search.uml2ParticipantTab"
           queryTabID="org.eclipse.uml2.search.common.ui.gofPatternSearchQueryTabID">
     </mapping>
  </extension>
</plugin>
