<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2008 Anyware Technologies. All rights reserved. This program
  and the accompanying materials are made available under the terms of the
  Eclipse Public License v1.0 which accompanies this distribution, and is
  available at http://www.eclipse.org/legal/epl-v10.html
    
  Contributors: Lucas Bigeardel (Anyware Technologies) - initial API and
  implementation
-->
<plugin>
    <extension
         point="org.eclipse.emf.search.modelSearchEngine">
      <modelSearchEngine
            id="org.eclipse.emf.search.ecoreOCLSearchEngine"
            label="%EcoreOCLModelSearchEngine.Label"
            modelResourceValidator="org.eclipse.emf.search.ecore.engine.EcoreModelResourceValidator"
            queryParametersFactory="org.eclipse.emf.search.ecore.ocl.factories.EcoreOCLModelSearchQueryParametersFactory"
            searchQueryFactory="org.eclipse.emf.search.ecore.ocl.factories.EcoreOCLModelSearchQueryFactory"/>
   </extension>
    <extension
          point="org.eclipse.emf.search.ocl.targetMetaModel">
       <targetMetaModel
             nsURI="http://www.eclipse.org/emf/2002/Ecore"
             level="M2"
             target="Ecore">
       </targetMetaModel>
    </extension>
</plugin>
